@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: #1f7cff;
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
	--color-1: #f75c4e;
	--color-2: #191046;
	--color-3: #ff1fb3;
	--color-4: #5c4ef7;
	--color-5: #f7954e;
	--color-6: #191046;
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	html {
		scroll-behavior: smooth;
	}
	body {
		@apply bg-background text-foreground;
	}

	h1 {
		@apply text-3xl sm:text-3xl md:text-4xl lg:text-6xl 2xl:text-7xl font-bold tracking-tight mb-4;
	}

	h2 {
		@apply text-2xl md:text-3xl lg:text-5xl font-bold tracking-tight;
	}

	h3 {
		@apply text-2xl font-semibold;
	}

	h4 {
		@apply text-xl font-medium;
	}

	.description {
		@apply text-[1.05em] sm:text-lg text-gray-400 mt-4 mb-6;
	}

	.hgroup {
		@apply max-w-[650px] mx-auto mb-6 text-center;
	}

	.page_single h2 {
		@apply mt-8 mb-4 text-2xl;
	}

	.page_single ul {
		@apply list-disc pl-3;
	}
}

@layer components {
	.page_wrap {
		@apply flex flex-col items-center justify-center min-h-svh;
	}

	.page {
		@apply w-full flex-1 flex flex-col;
	}

	.container {
		@apply container mx-auto px-4;
	}

	.footer {
		@apply w-full text-white;
		background-color: var(--color-6);
	}

	.footer_btm {
		@apply py-10 text-center;
	}

	.footer_top {
		@apply pt-15 pb-0;
	}

	.footer_top .container {
		@apply gap-10 grid sm:grid-cols-2 lg:grid-cols-4;
	}

	.header {
		@apply py-4 shadow-sm;
	}
	.homepage .header {
		box-shadow: none;
	}
	.header .container {
		@apply flex flex-nowrap justify-between items-center w-full;
	}

	.menu {
		@apply hidden md:flex;
	}

	.section {
		@apply my-15 lg:my-30;
	}

	.section_hero {
		@apply my-15;
	}

	.section_brands {
		@apply my-10;
	}

	.section_features {
		@apply mt-15 lg:mt-30;
	}

	.section_subscribe {
		background-image: linear-gradient(
			180deg,
			transparent 50%,
			var(--color-6) 50%
		);
	}

	.section_testimonials {
		background: url('./assets/img/pic1.png') no-repeat center bottom/55%;
	}

	@media only screen and (max-width: 520px) {
		.section_testimonials {
			background: none;
		}
	}

	.row_1 {
		@apply grid grid-cols-1 md:grid-cols-2 gap-10 items-center text-center md:text-left;
	}

	.row_2 {
		@apply text-center lg:text-left grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-[auto_1fr] gap-x-20 gap-y-10 items-center;
	}

	.row_3 {
		@apply text-center lg:text-left flex flex-col sm:grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-[1fr_auto] gap-x-20 gap-y-10 items-center;
	}

	.brands {
		@apply flex flex-wrap gap-y-10 gap-x-10 items-center justify-center lg:justify-between w-full;
	}

	.brands img {
		@apply h-auto max-h-7 lg:max-h-12;
	}

	.features {
		@apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10 mt-15;
	}

	.feature {
		@apply grid gap-7 text-gray-400;
		grid-template-columns: 60px auto;
	}

	.feature_title {
		@apply text-lg mb-3 text-black;
	}

	.feature_icon {
		@apply flex items-center justify-center w-[60px] h-[60px] rounded-full bg-primary transform transition-transform group-hover:scale-105;
	}

	.feature:nth-child(2) .feature_icon {
		background: var(--color-1);
	}

	.feature:nth-child(3) .feature_icon {
		background: var(--color-2);
	}

	.feature:nth-child(4) .feature_icon {
		background: var(--color-3);
	}

	.feature:nth-child(5) .feature_icon {
		background: var(--color-4);
	}

	.feature:nth-child(6) .feature_icon {
		background: var(--color-5);
	}

	.subscribe {
		@apply relative z-10 bg-primary text-white  lg:rounded-lg max-w-[980px] mx-auto p-15 text-center;
	}

	.slider {
		background: url('./assets/img/pic0.svg') no-repeat center/40%;
	}
}
